In [ ]:
# 1. The first step is to be sure you have installed the required python packages.
# We use the pakage manager pip to install all requred packages

pip install mysql-connector-python

In [5]:
# 2. Import Python Libraries

import mysql.connector as sql
import pandas as pd

In [ ]:
#3. Build the connection
#Note: You should have already created the credential in MYSQL server.

conn=sql.connect(host='localhost',user='root',password='',db='dba1000')
conn

In [ ]:
# read a simple query into DataFrame
df=pd.read_sql_query("SELECT * FROM vgsales_db.vgsales_2016", conn)
df

In [ ]:
# print DataFrame and shaw the first 10 raws
print(df.head())

In [7]:
#Find how many records this data frame has
df.shape

(78, 6)

In [8]:
#How many elements are there?
df.size

468

In [9]:
#What are the column names?
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [15]:
#What types of columns we have in this data frame?
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [ ]:
# read a complex query into DataFrame
complex_df = pd.read_sql('''SELECT
    Round(SUM(NA_Sales)) as 'NA_Sales',
    ROUND(SUM(EU_Sales)) as 'EU_Sales',
    ROUND(SUM(JP_Sales)) as 'JP_Sales',
    ROUND(SUM(Global_Sales)) AS 'Global_Sales',
    ROUND((SUM(NA_Sales)/SUM(Global_Sales)) * 100) as 'NA_GlobalShare'

FROM
    vgsales_db.vgsales_2016
WHERE
    Genre = 'Action'
        AND Year_of_Release >= 2005''', conn)

In [ ]:
print(complex_df)

In [ ]:
# WHERE in python
nintendo_games = df[df['Publisher'] == 'Nintendo']

In [ ]:
print("The number of Nintendo games is: " + str(len(nintendo_games)))

In [ ]:
# TWO condition WHERE claus
action_05 = df[(df['Genre']=='Action') & (df['Year_of_Release'] >= 2005)]

In [ ]:
print("The sum of action games in NA is: " + str(action_05.NA_Sales.sum()))